/*--------------------------------------------------------------
# Post Card
--------------------------------------------------------------*/

.post-card {

	& .term {
		position: absolute;
		left: 0;
		bottom: 0;
	}
}
